.squareContainer{
    display:inline-block;
    width:40px;
    height:40px;
    border: 1px solid black;
}
.gridContainer{
width:400px;
}
.rowContainer{

}

.mapOverviewContainer{
    margin-left: 1%;
    margin-top: 1%;
}
/*
.robotBob{
    background-image: url("../public/robotbob.svg");
}
*/
.robotContainer{
    width:30px;
    height:30px;
}
.packageContainer{
    width:30px;
    height:30px;
}
.squareText{
    position: absolute;
    color: yellow;
}