.squareContainer{
    display:inline-block;
    width:80px;
    height:80px;
    border: 1px solid black;
}
.gridContainer{
width:600px;
}
.rowContainer{

}

.mapOverviewContainer{
    margin-left: 1.5%;
    margin-top: 2%;
}

.robotContainer{
    width:75px;
    height:75px;
}
.packageContainer{
    width:75px;
    height:75px;
}
.squareText{
    position: absolute;
    color: yellow;
}