#remoteContainer{
    width:10%;
    border:1px solid black;
    margin-left: 1.5%;
}

#forward_button{
    position: relative;
    left: 39%;
}

#bottom_buttons{
    position: relative;
    left: 17%;
}

.moveButton{
    margin: 1%;
    width: 20%;
    margin-bottom: 2%;

}
