#instructionContainer{
    background: rgb(75, 74, 74);
    width:400px;
    height: 100px;
    margin-left:auto;
    margin-right:auto;

}
.instructionOption{
    margin: 10px;
    margin-bottom: 4%;
}
