/* Style the tab */
.tabWindowContainer {
    width:400px;
}

.tabsContainer{
    background: #5e849a;
}

.tab:hover{
    background: #6e9bb5;
}

/* Style the buttons inside the tab */
.tab {
    font-size: inherit;
    text-align:center;
    width:200px;
    border:1px solid #ccc;
    height: 50px;
    display: inline-block;
}

/* Change background color of buttons on hover
.tab:hover {
    background-color:green;
}

.tab:active {
    background-color: yellow;
}
*/

/* Style the tab content */
.tabContent {
    width: 400px;
    height: 100px;
    border: 1px solid #ccc;
    background: #5B7283;
}